name: Build

on:
  push:
    branches: [ main, master ]
    paths-ignore:
      - '**.md'
      - 'repo.json'
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Expedition
          path: Expedition/bin/x64/Release/*/Expedition/
          if-no-files-found: error
          retention-days: 14
